{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "_types": "./types/index.ts",
          "_actions": "./actions/",
          "_helpers": "./helpers/",
          "_assets": "./assets/",
          "_components": "./screens/components/",
          "_typography": "./theme/typography.ts",
          "_palette": "./theme/palette.ts",
          "_metrics": "./theme/metrics.ts",
          "_globals": "./theme/globals.ts",
          "_zIndex": "./theme/zIndex.ts",
          "_rootReducer": "./reducers/index.ts",
          "_firebaseConfig": "./firebaseConfig.ts"
        }
      }
    ]
  ]
}
